---
import RandomName from "../../components/RandomName.astro";
import RandomFact from "../../components/RandomFact.astro";
---

<html>
  <head>
    <title>A name and a fact</title>
  </head>
  <body>
    <h2>A name</h2>
    <RandomName />
    <h2>A fact</h2>
    <RandomFact />
  </body>
</html>
