---
import RandomName from "../../components/RandomName.astro";
import RandomFact from "../../components/RandomFact.astro";

export const prerender = false;
---

<html>
  <head>
    <title>A name and a fact</title>
  </head>
  <body>
    <h1>Streamed page</h1>
    <p>This is a page where content is streamed after</p>
    <h2>A name</h2>
    <RandomName />
    <h2>A fact</h2>
    <RandomFact />
  </body>
</html>
