---
export const prerender = true;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body
    class="flex flex-col justify-center w-screen h-screen items-center gap-8 bg-white"
  >
    <h1
      class="font-bold tracking-widest text-3xl inline-flex max-w-lg w-full gap-4"
    >
      <a href="/streaming" class="text-slate-600">Streaming</a> or <a
        class="text-slate-600"
        href="/not-streaming">not streaming</a
      >
    </h1>

    <div class="max-w-lg leading-loose text-slate-800 tracking-wide">
      In a world of flowing data streams, <br />
      Where bytes dance in digital beams, <br />

      Do we catch the flow, or let it pass, <br /> In the fleeting silence of the
      glass? <br />
      <br /> Streaming, oh streaming, vibrant and wide, <br /> Torrents of content
      in which we confide. <br /> Movies, songs, stories untold, <br /> In the live
      currents, bold and bold. <br />
      <br /> Not streaming, a pause, a quiet space, <br /> A moment’s breath in the
      hectic race. <br /> Reflections deep in the still water’s face, <br /> Unrushed,
      untouched by the market’s embrace. <br />
      <br /> Choose the stream or the silent shore, <br /> Each holds a key to a
      different door. <br /> In the stream, ride the waves of the now, <br /> On
      the shore, find the why and the how. <br />
      <br /> Both essential, like day and night, <br /> In the stream’s rush or the
      calm’s quiet might. <br /> Streaming or not, in the data’s gleam, <br /> Life
      unfolds, a perpetual dream.
    </div>
  </body>
</html>
