---
import { sleep } from "../utils/sleep";

const factResponse = await fetch("https://catfact.ninja/fact");
const factData = await factResponse.json();

await sleep(5000);
---

<p>{factData.fact}</p>
